.all{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../img/pexels-monstera-7412069.jpg');
    height: 850px;
}
.pri{
    
}
.act{
    display: flex;
    justify-content: center;
    align-content: center;
}

