nav{
    display: flex;
    justify-content: space-between;
    background-color: #678983;
    width: 100%;
}
.links{
    display: flex;
    flex-direction: column;
    align-items:center;
}
.NavLink{
    font-family: Arial, Helvetica, sans-serif;
    color: #181d31;
    text-decoration: none;
}
 .search{
     display: flex;
     align-items: center;
     justify-content: space-around;
 }