.all{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #678983;
    width: 100%;
}
.links{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 200px;
    align-items:center;
}
.NavLink{
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    color: #181d31;
    text-decoration: none;
}
.NavLink:hover{
    color: #f0e9d2;
}
 .search{
     display: flex;
     align-items: center;
     width: 300px;
     justify-content: space-around;
     font-family:  'Times New Roman', Times, serif;
 }
 .btn{
    background-color: #f0e9d2;
     border-radius: 10px;
    font-family:  'Times New Roman', Times, serif;
    font-weight: bolder;
 }
 .inp{
    border-radius: 5px;
     box-shadow: none;
 }