.all{
    width: auto;
    height: 1100px;
    background-image: url('../../../img/pexels-monstera-7412069.jpg');
}

.nav{
    width: 100%;
}
.space{
    display: flex;
    justify-content: center;
    height: 10px;
    align-items: center;
    background-color: #203239;
}
.pagefile{
    display: flex;
    justify-content: center;
    height: 25px;
    align-items: flex-start;
    
}
.body{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content:space-evenly;
    align-content: center ;
    width: 1100px;
}
.sortsandfilters{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    background-color: #203239;
}
.sorts{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: 50px;
    
    background-color: transparent;
    
}

.sSorts{
    display: flex;
    width: 200px;
    height: 40px;
    align-items: center;
    flex-direction: row;
    
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
    
}

.filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center ;
    width: 30vw;
    border-radius: 10px;
    font-family: 'Times New Roman', Times, serif;
}

.sfilter{
    display: flex;
    flex-direction: row;
    align-self: center;
}