.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center ;

    
}

.sorts{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
}

.sSorts{
    display: flex;
    flex-direction: row;
}

.filters {

}