.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e6ddc4;
    height: 200px;
    margin: 30px;
    padding: 20px;
    border: 5px ;
    border-radius: 10px;
}
h2{ 
    color: #181D31;
    width: 110px;
    height: 20px;
    align-self: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
}
h2:hover{
    color: darkolivegreen;
}

h3{
    margin-top: 5px;
    font-size: small;
    font-family: 'Times New Roman', serif ;
}
.link{
    text-decoration: none;
}
.cardim{
    border-bottom: 20px;
    border-radius: 5px;
    align-self: center;
    margin-top: 50px;
}
img{
    border-radius: 5px;
}