.principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    
}

.title{
    color: #181d31;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #678983;
}