.principal{
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 118%;
    background-image: url('../../../img/pexels-monstera-7412069.jpg');
    background-size:cover;
}

.title{
    width: 100vw;
    background-color: transparent;
    height: 10vw;
    font-size:x-large;
    color: #181d31;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
.countries{
    display: flex;
    flex-direction:column;
    align-self: center;
    
}
.button{
    font-weight: bold;
    align-items: flex-start;
    width: 10vw;
    height:3vw;
    color: #181d31;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #EEEDDE;
    border-radius: 5px;
    border-color: #E0DDAA;
    border-style:double;
    margin-bottom: 170px;
}


.button:hover{
    background-color: #E0DDAA;
}