.numbers{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

.number {
    display: flex;
    font-size: small;
    margin: 5px;
    text-decoration: none;
}