.numbers{
    display: flex;
    justify-content: center;
    flex-direction: row;
    list-style: none;
}

.number {
    font-size: small;
    margin: 3px;
    color: #e6ddc4;
}

.snumber{
    color: #181d31;
    text-decoration: none;
}

.snumber:hover{
    color:#e6ddc4
}

.snumber:active{
    color: #678983;
}